@import "tailwindcss";
.layout-page{
    @apply w-[100%] 
}
.nav-link{
    @apply flex sm:gap-x-10 justify-around items-center py-2.5 top-0 h-14
    fixed w-full border border-transparent border-b-gray-100 z-10
    md:hidden bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]
}
.nav-link .img-pdp{
    @apply flex place-items-center place-content-center gap-x-1.5 
}
.img-pdp img{
    @apply w-7 h-7 rounded-4xl border-2 border-gray-300 shadow-2xl p-0.5
}
.img-pdp p{
    @apply block text-gray-600 font-semibold first-letter:capitalize
}
.nav-link .menu-notify{
    @apply flex place-content-between w-[30%] place-items-center
}
.nav-option{
    @apply size-7 p-0.5 transition duration-300 ease-in-out hover:bg-amber-200 hover:font-extrabold;
}
.nav-link span{
    @apply w-10 h-10
}
/* .page-container{
    @apply pb-2 flex items-start gap-x-0 md:gap-x-1 w-[100%] 
    sm:pb-[2rem] lg:pb-0 mt-0 mb-5 md:mb-0 md:mt-0 justify-center
    bg-blue-400
} */
 .page-container{
    @apply w-[100%] flex place-content-center place-items-center h-[100%] 
 }
.MenuWrapper{
    @apply h-screen w-fit relative 
    ml-0 md:ml-25 lg:ml-80 
}
.nav-down{
    @apply fixed bottom-0 flex gap-x-2 justify-around items-center py-0.5 pb-1.5 px-4 
    w-full shadow-lg border-0 border-t-1 border-t-gray-100 z-10 h-14
    md:hidden bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] 
}
.nav-down .nd-option{
    @apply h-full block space-y-1 place-items-center place-content-center px-1 py-1
    transition ease-in-out delay-200 border-2 border-transparent 
}
.nav-down .option-active,
.nav-down .option-active{
    @apply border-b-gray-400 bg-gray-100 rounded-md shadow-2xl 
}
.nd-option i{
    @apply text-[18px] text-gray-600
} 
.nd-option svg{
    @apply size-6 text-gray-800 font-bold
}
.nd-option p{
    @apply text-[11px] capitalize leading-none text-gray-600 tracking-[0.8px]
    font-medium
}
.nd-option:hover i, .nd-option:hover p,
.nd-option:active i, .nd-option:active p{
    @apply text-gray-800 
}
