@import "tailwindcss";

.success-alert{
    @apply bg-gray-100 flex place-items-center place-content-start py-2 px-1.5 pr-2.5
    relative mt-2 mb-2 border border-gray-400 text-gray-700 
    w-[100%] lg:w-[550px] place-self-center lg:py-3 text-wrap lg:pr-4 z-20 shadow-gray-200 shadow-md
}
.sa-in{
    @apply w-[80%] sm:w-100 lg:w-120 fixed top-[4rem] lg:top-[1rem]
}
.success-alert svg{
    @apply size-5 h-full md:size-6 
}
.success-alert p{
    @apply text-[16px] leading-normal mb-0.5 w-[90%] ml-1.5 mr-2 first-letter:capitalize
    md:text-[18px] lg:text-[22px]
}
.success-alert svg:last-child {
    @apply size-3 p-0.5 bg-gray-300 text-white absolute right-1.5 rounded-full z-10
    md:size-4 lg:size-5 animate-pulse
}
.fail-alert{
    @apply text-red-700 
}
.fail-alert svg:last-child {
    @apply size-3 p-0.5 bg-red-400 text-white absolute right-1.5 rounded-full z-10
    md:size-4 lg:size-5
}