@import "tailwindcss";

.page-box{
    @apply bg-white w-full min-h-screen max-h-full pt-[4rem] pb-[0] z-20 
    md:pt-[1rem] place-content-center place-items-center
}
.post-feed{
    @apply w-full place-content-start
}
.post-feed .ref-span-go-back{
    @apply rounded-full bg-gray-100 border border-gray-200 
    hover:bg-gray-200 hover:border-gray-300 w-fit place-self-start mb-[1rem]
}
.post-feed .ref-span-go-back svg{
    @apply size-5 
}
.post-feed .post-form{
    @apply w-[90%] sm:w-[80%] h-130 md:w-[80%] lg:w-[60%] place-self-center 
    block relative px-2 
}
.post-form textarea{
    @apply  w-full min-h-40 max-h-50 left-0 ring-0 border border-gray-400 rounded-lg py-3 px-3 
    focus:outline-none focus:border-gray-600 mt-[1.5rem] lg:h-50
    resize-none text-gray-700 text-[16px] leading-6 font-normal
}
.post-form .post-btn{
    @apply w-full md:w-[80%] relative md:place-self-center
    mt-[2rem] 
}
