@import "tailwindcss";

.send-sc{
    @apply w-[100%] h-screen z-20 bg-white lg:h-110 relative block 
    py-[2rem] lg:py-[1rem] text-gray-700
}
.send-sc form{
    @apply w-[85%] h-full block gap-y-1.5 place-self-center sm:w-[400px] lg:w-[50%] lg:gap-y-5
    relative 
}
form .ref-span-go-back{
    @apply rounded-full bg-gray-100 border border-gray-200 
    hover:bg-gray-200 hover:border-gray-300 w-fit place-self-start mb-[1rem] lg:hidden
}
form .ref-span-go-back svg{
    @apply size-5
}
form .w-addy{
    @apply h-fit 
}
form .w-addy:nth-child(2){
    @apply mb-[0.4rem] lg:mb-[1rem]
}
form .w-addy h3{
    @apply font-semibold text-[16px] capitalize text-gray-700 md:text-[18px] lg:text-[20px]
}
.w-addy span{
    @apply flex place-content-between place-items-center relative gap-y-4  
}
.w-addy span input{
    @apply text-lg outline outline-gray-500 px-2.5 rounded-sm 
    h-[45px] focus:outline-blue-200 focus:outline-2 md:h-[45px] lg:h-[55px] w-full 
    pr-[4.5rem] lg:pr-[5.5rem]
}
.w-addy span i{
    @apply absolute right-2 bottom-1.5 text-sm place-items-center place-content-center
    bg-gray-100 border border-gray-200 rounded-full text-center h-7 w-7 
    hover:border-gray-300 hover:scale-95 transition ease-in-out delay-250
    font-semibold lg:bottom-2.5 lg:text-lg lg:h-8 lg:w-8
}
.w-addy span .iconxw{
    @apply right-[2.5rem] lg:right-[3rem]
}
.w-addy div{
    @apply flex place-items-center place-content-between px-2
}
.w-addy div p{
    @apply text-[13px] capitalize font-bold mt-0.5
}
form .w-info{
    @apply block mt-4
}
form .w-info h3{
    @apply font-semibold text-[16px] capitalize text-gray-700 
    md:text-[18px] lg:text-[20px]
}
.w-info span{
    @apply flex gap-x-2 border border-gray-200 py-2 px-2 lg:pl-3 bg-gray-100 lg:h-15 place-items-center
    place-content-start
}
.w-info span p{
    @apply text-[18px] lg:text-[20px] 
}
.w-info span p::first-letter{
    @apply capitalize
}
form .w-button{
    @apply  w-[100%] place-self-center absolute bottom-[2rem] lg:w-full
}
.lock-pkg .w-addy{
    @apply mt-[1rem] 
}
.lock-pkg .w-button{
    @apply bottom-[2rem] md:-bottom-[1.5rem] lg:-bottom-[3rem] 
}
.lock-pkg-sc{
    @apply min-h-screen max-h-full z-20 pt-[2rem] pb-[1.5rem] 
    md:pt-[3rem] md:pb-[3rem] md:h-screen lg:h-140  lg:pt-[1.5rem] lg:pb-[3rem]  
}
.lock-pkg-sc .w-button{
    @apply block 
}