@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.update-profile-container{
    @apply h-screen place-content-center place-self-start w-[100%] z-20 
    lg:place-items-center lg:pt-[0.5rem] lg:pb-[2rem] lg:h-[100%] bg-white dark:dark:bg-neutral-600 
}
.update-profile{
    @apply h-[90%] w-fit z-10 relative text-gray-700 lg:h-[50%] place-self-start 
}
.update-profile .ref-span-go-back2{
    @apply rounded-full bg-gray-100 border border-gray-200 
    hover:bg-gray-200 hover:border-gray-300 w-fit place-self-start mb-[1rem] lg:hidden
}
.update-profile .ref-span-go-back2 svg{
    @apply size-5
}
.update-profile .img-update{
    @apply place-self-center mb-[1rem] lg:mb-[1rem] relative cursor-pointer 
}
.form-input-box div input{
    @apply dark:border-2 dark:border-blue-200
}
.update-profile .email-input{
    @apply bg-gray-200 
}
.img-update span{
    @apply size-18 sm:size-25 lg:size-35 border-4 border-gray-200 rounded-full overflow-hidden 
}
.update-profile .update-img{
    @apply w-26 h-26 place-content-center place-self-center relative overflow-hidden lg:w-30 lg:h-30
    cursor-pointer rounded-full rounded-br-md bg-gray-100 
}
.update-img img{
    @apply w-full h-full rounded-full hover:scale-105 active:scale-105 
    relative 
}
.update-img .update-i{
    @apply absolute bottom-[0.1rem] right-[0.2rem]
    lg:bottom-[0.2rem] lg:right-[0.5rem] h-6 w-6 p-0 
}
.img-update i{
    @apply py-0 px-1 text-sm lg:text-xl bg-white border-2 lg:border-3 border-gray-200 rounded-full 
    absolute right-0 bottom-[0.1rem] sm:bottom-[0.5rem] lg:bottom-[1rem] hover:bg-gray-100 
}
.update-profile .img-input{
    @apply bg-transparent h-full w-full p-0 text-transparent text-nowrap border-0 ring-0 z-10
    border-transparent ring-transparent hover:bg-gray-50 opacity-50 
    absolute cursor-pointer
}
.update-profile .form-btn{
    @apply  -bottom-[1rem] lg:bottom-0 w-full lg:relative lg:mt-[4rem] lg:pb-[2rem]
}

