@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.page-box3{
    @apply bg-white w-[100%] min-h-screen max-h-full pt-[1rem] pb-[0rem] z-20 
    place-content-start place-items-center md:pt-[1rem] dark:bg-neutral-600
}
.user-feed{
    @apply w-full h-fit mb-[4rem] block space-y-4
    sm:w-[90%] md:w-120 lg:w-140 relative pt-[0rem] pb-[1rem] md:py-[0rem]  
    lg:mb-[5rem] place-self-center
}
.uf-box {
    @apply w-[92%] block place-self-center relative
}
.uf-box .ref-span-go-back{
    @apply rounded-full bg-gray-100 border border-gray-200 
    hover:bg-gray-200 hover:border-gray-300 w-fit place-self-start mb-[1rem]
}
.uf-box .ref-span-go-back svg{
    @apply size-5 
}
.uf-box .feed-container{
    @apply w-full h-full rounded-md dark:bg-white dark:p-2 dark:mb-2
}
.feed-container .feed-img-uname-timr-lv{
    @apply flex w-full place-content-between place-items-start mb-2 mt-1
}
.feed-img-uname-timr-lv .img-uname-time{
    @apply flex place-content-between place-items-start gap-x-1.5
}

.img-uname-time .span-img{
    @apply w-10 h-10 p-0.5 sm:w-17 sm:h-17 place-content-center place-items-center border lg:border-2
    border-gray-200 hover:border-gray-300 rounded-full overflow-hidden cursor-pointer
}
.img-uname-time .span-img:hover img{
    @apply scale-105
}
.img-uname-time .span-img img{
    @apply w-full h-full rounded-full 
}

.img-uname-time .span-hp{
    @apply block text-wrap place-items-start space-y-1 mt-1
}
.span-hp h4{
    @apply text-[16px] font-bold text-gray-600 leading-4 capitalize 
    md:text-[18px]
}
.span-hp p{
    @apply text-[14px] font-bold text-gray-600 leading-4 capitalize 
    md:text-[16px]
}
.feed-img-uname-timr-lv .lv{
    @apply h-fit w-fit mt-1
}
.lv p{
    @apply text-[14px] font-bold text-blue-700 leading-4 capitalize
    md:text-[18px]
}

.feed-hpp h5{
    @apply text-[18px] font-normal leading-5 h-fit overflow-hidden 
    md:text-[22px] text-gray-600 py-1.5
}
.feed-hpp p{
    @apply w-fit place-self-end text-[13px] md:text-[15px] leading-4 font-medium text-gray-500
}

.uf-box .feed-impression{
    @apply w-full flex place-items-center place-content-between h-10 md:h-10 border border-transparent
    border-t-gray-200 border-b-gray-200 px-4 relative dark:border-t-white dark:border-b-white
}
.feed-impression span{
    @apply flex place-content-center place-items-center gap-x-0.5
}
.feed-impression span svg{
    @apply size-4 font-normal md:size-5
}
.feed-impression span:nth-child(1) svg{
    @apply size-4 md:size-5
}
.feed-impression span:nth-child(5) svg{
    @apply font-extrabold text-gray-900
}
.feed-impression span p{
    @apply text-[13px] md:text-[17px] leading-2.5 mt-0.5
}
.feed-impression .sPEDR2{
    @apply top-[3rem] right-[1rem]
}

.feed-replies{
    @apply w-full relative py-1 space-y-2 
}
.feed-replies h4{
    @apply text-[15px] first-letter:capitalize text-blue-950 lg:text-[18px] dark:text-white
}
.feed-replies .feed-each-item{
    @apply w-full place-content-start place-items-center gap-x-1.5 relative 
}
.feed-replies .feed-each-item h5{
    @apply w-full h-full text-wrap pb-0
}
.feed-replies .feed-each-item :nth-child(1){
    @apply gap-x-3 md:gap-x-0
}
.feed-replies .feed-each-item :nth-child(1) h4{
    @apply capitalize 
}
.feed-replies .feed-each-item :nth-child(3) {
    @apply relative w-fit place-self-end h-fit py-0.5 px-0.5
}
.feed-name-cont-time{
    @apply relative
}
.feed-name-cont-time .fnct-plv{
    @apply text-nowrap
}
.feed-name-cont-time .sidePostEDR2{
    @apply bg-white z-20 w-fit px-1 py-1 absolute right-[2.5rem] 
    top-[0.5rem] rounded-sm shadow-xs shadow-gray-500 lg:w-30
}
.sidePostEDR2 ul {
    @apply relative space-y-1
}
.sidePostEDR2 ul li{
    @apply text-[13px] hover:bg-gray-200 active:bg-gray-200 rounded-sm px-1 w-fit leading-5 
    text-blue-950 lg:text-[18px]
}

.user-feed .feed-form{
    @apply w-full min-h-20 flex place-items-start place-content-center place-self-center
    fixed bottom-0 gap-x-2 sm:w-[90%] md:w-120 lg:w-140 overflow-hidden
    max-h-30 lg:mb-[0rem] py-1 pb-2 lg:py-[0.5rem] bg-white dark:bg-neutral-600
}
.feed-form textarea{
    @apply  w-[80%] min-h-16 max-h-25 left-0 ring-0 border border-gray-400 rounded-lg py-3 px-3 
    focus:outline-none focus:border-gray-600 dark:text-white
    resize-none text-gray-700 text-[16px] leading-5 font-normal 
    dark:border-2 dark:border-white dark:focus:border-white
}
.feed-form button{
    @apply  right-0 bg-orange-400 rounded-lg border border-transparent 
    py-1.5 px-2 w-10 hover:bg-orange-300 hover:border-orange-500
    active:bg-orange-300 active:border-orange-500 transition-all duration-300 ease-in-out
}
.feed-form button i{
    @apply text-white
}
